extends layout
block content

    .page-header
        h3 Deployed Apps

    .row
        .span3

            div
            if response && response.hits && response.hits.total > 0

                dl
                    dt Categories
                    each category in response.aggregations.category.buckets
                        dd
                            a(href='/?q=' + query + '&agg_value=' + category.key + '&agg_field=category.raw' )
                                =category.key + " (" + category.doc_count + ")"

                dl
                    dt DEV
                    each dev in response.aggregations.dev.buckets
                        dd
                            a(href='/?q=' + query + '&agg_value=' + dev.key + '&agg_field=dev.raw' )
                                =dev.key + " (" + dev.doc_count + ")"

                dl
                    dt INT
                    each int in response.aggregations.int.buckets
                        dd
                            a(href='/?q=' + query + '&agg_value=' + int.key + '&agg_field=int.raw' )
                                =int.key + " (" + int.doc_count + ")"

                dl
                    dt QA/UAT
                    each qa in response.aggregations.qa.buckets
                        dd
                            a(href='/?q=' + query + '&agg_value=' + qa.key + '&agg_field=qa.raw' )
                                =qa.key + " (" + qa.doc_count + ")"

                dl
                    dt PROD
                    each prod in response.aggregations.prod.buckets
                        dd
                            a(href='/?q=' + query + '&agg_value=' + prod.key + '&agg_field=prod' )
                                =prod.key + " (" + prod.doc_count + ")"

        .span9

            if !response || response && !response.hits
               h4 No Matching Services and Apps
            else
                if response.hits.hits
                    h4 #{response.hits.total} Matching Services and Apps
                    table.table.table-bordered
                        thead
                            tr
                                th Platform
                                th Name
                                th Category
                                th DEV/UAT
                                th INT
                                th QA
                                th PROD
                                    tbody
                            each endpoint in response.hits.hits
                                tr
                                    td= endpoint._source.platform
                                    td= endpoint._source.name
                                    td= endpoint._source.category
                                    td= endpoint._source.dev
                                    td= endpoint._source.int
                                    td= endpoint._source.qa
                                    td= endpoint._source.prod
                else if response.suggest.simple_phrase[0].options[0]
                    p
                        | Did you mean&nbsp;
                        a(href="/?q=" + response.suggest.simple_phrase[0].options[0].text) !{response.suggest.simple_phrase[0].options[0].highlighted}
                        | ?
                else
                    p No resulsts found for keyword #[b #{query}]

